@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
.row{
   margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", serif;  
  background: linear-gradient(to right, #6e8daf, #454a8d);
}


.main {
  height: 90%;
  background: #2c3e50;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.credits {
  position: absolute;
  bottom: 0;
  left:0;
  font-size: 8px;
  background: rgba(222, 222, 222, 0.473)
}
/* =======title component===== */

.title-container {
  height: 90vh;
  background: url("img/bb.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  
}
.title-container__div{
  background: rgba(222,222,222, 0.7)
}

.title-container__title {
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
  padding: 3vh
}

.col-sm-12{
  padding-left: 0;
  padding-right: 0;
}
/* ===== form component ===== */
.form {
width: 100%;
  padding-left: 5%;
}
.form-container {
  background-color: #2c3e50;
  padding-top: 8vh;
}
.form-container.col-md-7{
  padding:0
}
input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 20px;
} @media (max-width:366px){
  input[type="text"] {width: 98%}
}
input[type="text"]:active, input[type="text"]:focus {
  background-color: transparent;
  outline: 0;
} 
.input__form { 
    outline: none;
}

button {
  border: 0;
  padding: 8px 20px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background: #f16051;
  color: #fff;
  font-weight: 100;
  transition: 0.3s;
}
@media(max-width:576px){
  .button__form{
  margin-top: 15px;
}}

button:hover{
  outline: none;
  border: none; 
  background: #99392f;;
}



button:active{
  outline: none;
  border: none; 
}



.weather__container {
  width: 60%;
  font-size: calc(12px+0.5vh);;
  font-weight: 200;
}
.weather__result{
  padding-left: 5%;
}
.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 10px 0 10px 0;
  font-weight: 400;
}
.weather__key:last-child {
  border: 0;
}
.weather__value {
  color: #fff;
  font-weight: 200;
}
.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
.container {
  padding: 0;
  margin: 0;
}


/* -------------------- FiveDays Component-------------------------- */
.button__fivedays {
 display: block;
 margin-top: 25px;
 margin-bottom: 25px;
}

/* <Popup> */

.container__popup{
  padding: 4%;
  width: 100%;
}
.button__popup{
  position: absolute;
  right: 0;
}
h1.title__popup{
    font-size: 20px;
    font-weight: 500;
}

h2.title__popup {
  font-size: 12px;
}


.popup {
  position: absolute;
  top: -15%;
  width:80%;
  background-color: rgb(212, 198, 65);
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}
.popup__inner {
  border-radius: 10px;
  background: white;
  width: 80%;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}
.popup__inner p{
  font-size: calc(10px + .5vw);
  display: flex;
  position: relative;
  justify-content: center;
  padding: 5px;
}
.panel-container{
  padding: 1vw 0.5vw;
}


div[class^="ico"]{
  width: 100%;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;}

.ico01d {
  background: url(img/icons/01d.svg);
}
.ico01n {
  background: url(img/icons/01n.svg);
}
.ico02d {
  background: url(img/icons/02d.svg);
}

.ico02n {
  background: url(img/icons/02n.svg);
}

.ico03d {
  background: url(img/icons/03d.svg);
}
.ico03n {
  background: url(img/icons/03n.svg);
}
.ico04d {
  background: url(img/icons/04d.svg);
}
.ico04n {
  background: url(img/icons/04n.svg);
}
.ico09d {
  background: url(img/icons/09d.svg);
}
.ico09n {
  background: url(img/icons/09n.svg);
}
.ico10d {
  background: url(img/icons/10d.svg);
}
.ico10n {
  background: url(img/icons/10n.svg);
}
.ico11d {
  background: url(img/icons/11d.svg);
}

.ico11n {
  background: url(img/icons/11n.svg);
}
.ico13d {
  background: url(img/icons/13d.svg);
}

.ico13n {
  background: url(img/icons/13n.svg);
}
.ico50d {
  background: url(img/icons/50d.png);
}
.ico50n {
  background: url(img/icons/50n.png);
}

/* </Popup> */


